UItienda/src/conf/xml-resources/web-service-references/OrdenDaoSessionBean/wsdl/localhost_8080/OrdenWS/OrdenDaoSessionBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dao.model.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dao.model.com/" name="OrdenWS">
<types>
<xsd:schema>
<xsd:import namespace="http://dao.model.com/" schemaLocation="http://localhost:8080/OrdenWS/OrdenDaoSessionBean?xsd=1"/>
</xsd:schema>
</types>
<message name="listaro">
<part name="parameters" element="tns:listaro"/>
</message>
<message name="listaroResponse">
<part name="parameters" element="tns:listaroResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="crear">
<part name="parameters" element="tns:crear"/>
</message>
<message name="crearResponse">
<part name="parameters" element="tns:crearResponse"/>
</message>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="actualizarResponse">
<part name="parameters" element="tns:actualizarResponse"/>
</message>
<portType name="OrdenDaoSessionBean">
<operation name="listaro">
<input wsam:Action="http://dao.model.com/OrdenDaoSessionBean/listaroRequest" message="tns:listaro"/>
<output wsam:Action="http://dao.model.com/OrdenDaoSessionBean/listaroResponse" message="tns:listaroResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://dao.model.com/OrdenDaoSessionBean/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://dao.model.com/OrdenDaoSessionBean/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://dao.model.com/OrdenDaoSessionBean/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://dao.model.com/OrdenDaoSessionBean/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="crear">
<input wsam:Action="http://dao.model.com/OrdenDaoSessionBean/crearRequest" message="tns:crear"/>
<output wsam:Action="http://dao.model.com/OrdenDaoSessionBean/crearResponse" message="tns:crearResponse"/>
</operation>
<operation name="actualizar">
<input wsam:Action="http://dao.model.com/OrdenDaoSessionBean/actualizarRequest" message="tns:actualizar"/>
<output wsam:Action="http://dao.model.com/OrdenDaoSessionBean/actualizarResponse" message="tns:actualizarResponse"/>
</operation>
</portType>
<binding name="OrdenDaoSessionBeanPortBinding" type="tns:OrdenDaoSessionBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrdenWS">
<port name="OrdenDaoSessionBeanPort" binding="tns:OrdenDaoSessionBeanPortBinding">
<soap:address location="http://localhost:8080/OrdenWS/OrdenDaoSessionBean"/>
</port>
</service>
</definitions>